/* Generic */
*{
    border:0;
    font-family:inherit;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    outline:none;
    padding:0;
    vertical-align:baseline;
    z-index:1
}
* ::-moz-selection{
    background:#333;
    color:#fff;
    text-shadow:none
}
::selection{
    background:#333;
    color:#fff;
    text-shadow:none
}
::-moz-focus-inner,:focus{
    outline:none
}
a{
    cursor:pointer;
    text-decoration:none
}
a img{
    border:none
}
a:hover{
    transition:all 0.30s ease-in 0s
}
a.see::after {
    content: " \00a0\00a0\00a0>";
}
a.readMore {
    display: block;
    font-weight: bold;
    padding: 12px 10px;
    text-align: center;
    width: 140px;
}
body{
    font-size:100%;
    height:100%;
    line-height:1;
    background:url(/media/v2/back1.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    font-family:muli, tahoma;
}
.clear{
    clear:both
}
ol,ul{
    list-style-type:none
}
html {
    height:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%
}
pre{
    font-size:16px;
    font-family:'courier';
    margin:10px 20px;
    padding:20px;
    overflow:auto
}
input,select,textarea{
    border:solid 1px #aaa;
    margin:3px;
    padding:2px
}
img::-moz-selection,img::selection{
    background:transparent
}
kbd{
    background:#eee;
    border-color:#ccc #aaa #888 #bbb;
    border-style:solid;
    border-width:1px 3px 3px 1px;
    color:#000;
    padding:1px 5px;
    white-space:nowrap
}
mark{
    display: block;
    color:#000;
    font-style:italic;
    font-weight:bold;
    line-height: 25px;
    margin: 20px 0;
    padding: 10px 15px;
}
table{
    border:solid 1px #ddd;
    display:block;
    margin:0 auto;
    width:90%
}
table th{
    background:#eee;
    font-weight:bold;
    padding:5px
}
table td{
    padding:5px;
    width:40%
}
.bold{
    font-weight:bold
}
.center{
    display:block;
    margin:0 auto;
    text-align:center
}
/* ***************************************************************** */
/* Shade */
#shade {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
}

/* Menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 10000;
}
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        transition: 0.3s;
        width: 250px;
    }
    .sidenav a.small {
        font-size: 18px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        text-align:right;
    }

/* Header */
header {
    height: 120px;
    position:fixed;
    width:100%;
    z-index: 200;
}
    header div {
        display:block;
        margin: 0 auto;
        text-align: left;
        padding: 20px 0;
        position:relative;
        width:1000px;
    }
        header div section#menu {
            float:left;
        }
        header div section#menu #menuSocial{
            margin-top: 50px;
        }
        header div section#menu #menuSocial span{
            color:#fff;
            display:block;
            font-size: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
        }
        header div section#menu #menuSocial a {
            color:#D58032;
            font-size: 22px;
            padding-top: 4px;
        }
        #openMenu {
            cursor: pointer;
            font-size: 65px;
        }
        header div section#logo {
            float:left;
            height: 65px;
            width: 350px;
            z-index: 20000;
        }
            header div section#logo {
                background: url(/media/v2/logo-small.png) no-repeat;
                margin-left:40px;
            }
                header div section#logo div#title {
                    padding-left: 70px;
                    width: auto;
                }
                header div section#logo div#title a {
                    font-family: 'Source Code Pro';
                    font-size: 40px;
                }
                header div section#logo div#title cite {
                    display:block;
                    font-size: 14px;
                    padding-left: 10px;
                }

        header div section#social {
            float:right;
            height:80px;
            width: 240px;
            z-index: 30000;
        }
            header div section#social a {
                display:inline-block;
                margin: 0 3px;
                height:37px;
                width:37px;
            }
            header div section#social a#rss {
                background: url(/media/v2/social.png) no-repeat 0 0;
            }
            header div section#social a#twitter {
                background: url(/media/v2/social.png) no-repeat -37px 0;
            }
            header div section#social a#github {
                background: url(/media/v2/social.png) no-repeat -74px 0;
            }
            header div section#social a#facebook {
                background: url(/media/v2/social.png) no-repeat -111px 0;
            }
            header div section#social a#sof {
                background: url(/media/v2/social.png) no-repeat -149px 0;
            }

/* Breadcrumb */
section#breadcrumb{
    margin: 40px 0;
    margin-top: 140px;
    width:100%;
}
    section#breadcrumb div{
        margin: 0 auto;
        text-align: left;
        width:1000px;
    }
    /* little hack */
    .empty {
        height: 0;
        padding: 0;
    }
    .filled {
        padding: 20px 0;
    }

/* Main */
section#main {
    margin: 50px auto;
    min-height: 600px;
    padding-top: 15px;
    text-align: center;
    width:1000px;
}
    section#main section#welcome {
        margin: 70px 0;
    }
        section#main section#welcome h6{
            color:#F07512;
            font-size: 80px;
            text-transform:uppercase;
        }
        section#main section#welcome p{
            font-size: 30px;

        }

    section#main section#latest article{
        display: inline-block;
        height: 250px;
        padding: 20px;
        text-align:left;
        vertical-align: top;
        width: 45%;
        overflow:hidden;
    }
        section#main section#latest article section h2{
            font-size: 35px;
            font-weight: bold;
        }
        section#main section#latest article section h5{
            font-size: 25px;
        }
    section#main section#latest article div{
        font-size: 14px;
        margin: 4px 0 8px 0;
    }
    section#main section#latest article footer{
        margin: 30px 0;
        padding:0;
    }
section#main section#share{
    text-align:left;
}
    section#main section#share h2{
        margin: 30px 0;
        text-transform: uppercase;
    }
    section#main section#share p{
        font-size: 20px;
    }

/* list */
section#main article#itemList {
    text-align: center;
}
section#main article h1 {
    font-size: 40px;
    margin: 10px 0 30px 0;
}
section#main article#itemList .items{
    display: block;
    float:left;
    height: 100px;
    margin: 0 10px 15px 10px;
    text-align:left;
    width: 300px;
}
    section#main article#itemList .items aside.item{
        float:left;
        height: 100px;
        margin-right: 10px;
        margin-bottom: 50px;
        width: 100px;
    }
    section#main article#itemList .items aside h2{
        font-size: 20px;
    }
    section#main article#itemList .items aside p{
        font-size: 12px;
        margin: 6px 0;
    }
    section#main article#itemList .items aside p.nb{
        color: #999;
        font-weight:bold;
    }
section#main article#articleList .items{
    float: left;
    height: 180px;
    margin: 35px 15px;
    position:relative;
    text-align:left;
    width: 450px;
}
    section#main article#articleList .items h2 {
        font-weight: bold;
    }
    section#main article#articleList .items p {
        margin: 10px 0;
    }
    section#main article#articleList .items h6 {
        color: #888;
    }

/* Page */
article#page {
    text-align:left;
}
    article#page section h6{
        font-size: 14px;
        margin-bottom: 20px;
    }

    article#page p {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0;
    }
    article#page ul{
        margin-left:40px
    }
    article#page ul li{
        font-size: 20px;
        list-style-type:square;
        margin: 10px 0;
    }
    article#page h2 {
        line-height:2;
        margin-top:40px;
        padding-left:20px
    }
    article#page h3 {
        line-height:1.8;
        margin-top:20px;
        padding-left:10px
    }
    article#page h4, article#page h5, article#page h6{
        font-weight:bold;
        margin:25px 0 0 0px;
        padding-bottom:4px;
    }


/* Footer */
footer{
    clear:both;
    margin: 0 auto;
    padding: 90px 0 20px 0cd;
    width:1000px;
}
    footer section#footerMenu {
        clear:both;
    }
        footer section#footerMenu ul{
            width: 100%;
        }
        footer section#footerMenu ul li{
            float:left;
            padding: 0 5px;
            width:150px;
        }
        footer section#footerMenu ul li a,footer section#footerMenu ul li h6{
            display:block;
            font-size: 14px;
            margin: 20px 0 10px 0;
        }
        footer section#footerMenu ul li ul li{
            float:none;
            display: block;
            font-size: 12px;
        }
        footer section#footerMenu ul li ul li a{
            font-size: 12px;
            margin: 4px;
        }
    footer div{
        clear:both;
        font-size: 11px;
        padding: 10px 0;
        text-align:center;
    }
    footer p{
        font-size: 10px;
    }


/* @media */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media all and (max-width: 1050px){
    header section#social {
        display:none;
    }
    section#breadcrumb {
        padding-left: 20px;
        width: 95%;
    }
        section#breadcrumb div{
            width: 100%;
        }
    section#main {
        width: 90%;
    }
        section#main article#articleList {
            float:none;
            display:block;
        }
        section#main article#articleList .items{
            width:90%;
        }

    pre{
        width:75%
    }
    footer {
        width:90%;
    }

    header div section#logo {
        background: none;
        margin-left: 10px;
    }
        header div section#logo div#title {
            padding-left: 10px;
        }


}





/*



@media all and (max-width: 850px){
    code pre{
        width:75%
    }
}


@media print{
    div#menu{
        display:none
    }
}
@media all and (max-width: 850px){
    div#menu{
        display:block;
        position:fixed;
        z-index:100
    }
}
@media all and (min-width: 851px){
    div#menu{
        display:none;
        position:relative
    }
}
div#menu img{
    margin:10px;
    position:absolute;
    left:10px;
    top:5px
}
@media print{
    div#menu img{
        display:none
    }
}
div#menu div#home2{
    cursor:pointer
}
@media print{
    div#menu div#home2{
        display:none
    }
}

@media all and (max-width: 850px){
    aside{
        z-index:20;
        overflow:hidden;
        -webkit-transition:all 0.3s;
        -moz-transition:all 0.3s;
        -ms-transition:all 0.3s;
        -o-transition:all 0.3s;
        transition:all 0.3s
    }
    aside header#home{
        display:none
    }
    nav.slide-menu-left{
        top:0;
        height:100%
    }
}
body.sml-open .slide-menu-left{
    left:0;
    z-index:100
}

@media all and (max-width: 1150px){
    .autofit{
        height:auto;
        width:75%
    }
}
.breadcrumbs{
    background:rgba(255,255,255,0.67857);
    padding:10px 0 10px 20px
}
@media all and (max-width: 650px){
    .breadcrumbs{
        display:none
    }
}
aside{
    display:block;
    float:left;
    width:270px;
    z-index:150
}
@media all and (max-width: 850px){
    aside{
        background:#fff;
        left:-300px;
        padding:15px 0 30px 0px;
        position:absolute
    }
    aside .close-menu{
        background:#D58032;
        color:#fff;
        cursor:pointer;
        display:block;
        margin-bottom:15px;
        padding:2px 10px 0 0
    }
    aside .close-menu:before{
        content:"\2190";
        margin:0 10px
    }
}
@media all and (min-width: 851px){
    aside{
        background:rgba(255,255,255,0.95);
        left:0;
        padding:30px 0 30px 0px;
        position:relative
    }
    aside .close-menu{
        display:none
    }
}



section{
    display:block;
    float:left
}
@media all and (max-width: 850px){
    section{
        margin:70px 0 0 20px;
        width:85%
    }
}
@media all and (min-width: 851px){
    section{
        margin:50px 0 0 40px;
        width:60%
    }
}
@media print{
    section{
        margin:0px;
        width:100%
    }
}
section article{
    background-color:rgba(255,255,255,0.95);
    border-radius:3px;
    margin-bottom:25px;
    padding:20px 0;
}

section article h1{
    color:#F07512;
    font-size:30px
}
@media all and (max-width: 850px){
    section article h1{
        font-size:25px
    }
}
@media print{
    section footer{
        display:none
    }
}
@media all and (max-width: 850px){
    nav#social{
        display:none
    }
}
@media print{
    nav#social{
        display:none
    }
}
@media all and (min-width: 851px){
    nav#social{
        display:block
    }
}
nav#social div{
    display:inline-block
}
 img.autofit{
    width: inherit;
    max-width: 100%;
    height: auto;
}
 @media all and (max-width: 650px){
    div#rss{
        position:absolute
    }
}
 @media all and (min-width: 651px){
    div#rss{
        position:fixed
    }
}
 */

